@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

* {
    box-sizing: border-box;
}

body{
    font-family: 'Muli', sans-serif;
    /* display: flex; */
    align-items: center;
    height:100vh;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.blue {
    background-color: blue;
    width: 300px;
    height: 150px;
    color: white;
    line-height: 150px;
    text-align: center;
}

.red {
    background-color: red;
    width: 300px;
    height: 150px;
    color: white;
    text-align: center;
    line-height: 150px;
}

.container{
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 150px;
}

.title{
    display: flex;
    justify-content: center;
    text-align: center;
}
