*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 4rem;
    color: black;
    font-weight: bold;
}

.main-wrapper{
    border-radius: 55px;
    padding: 30px;
}

#stop-interval-btn{
    width: 200px;
    height: 50px;
    margin-top: 2rem;
}

#start-interval-btn{
    width: 200px;
    height: 50px;
    margin-top: 2rem;
}
